.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
    width: 100px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}